table {
    width: 100%;
}
thead, tbody, tr, td, th { display: block; }
tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
thead th {
    height: 30px;

    /*text-align: left;*/
}
tbody {
    height: 600px;
    overflow-y: auto;
}
thead {
    /* fallback */
}
tbody td, thead th {
    width: 16.66666%;
    float: left;
}
h1 {
  margin-bottom: 80px;
}
