<!doctype html>
<html>
  <head>
    <title>ElasticWire Protocol Logger</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <link href="/css/app.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div>
        <h1>ElasticWire Protocol Logger</h1>
        <table class="table table-fixedheader table-bordered table-striped" id="packettable">
            <thead>
              <tr>
                <th>ID</th>
                <th>Source</th>
                <th>Destination</th>
                <th>Type</th>
                <th>Sequence</th>
                <th>Payload</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
      </div>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery-2.2.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/app.js"></script>
  </body>
</html>
